@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dangrek&family=Mulish&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #0b5bda;
  --lightblue:#ddeaff;
  --blacklight:#666666;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: 1.4; */
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  /* height of your navbar */
}

body {
  font-family: 'Poppins', sans-serif;
}

.portfolio_container {
  width: 100%;
  max-width: 1170px;
  padding-inline: min(20px, 6vw);
  margin: auto;
}

/* header_css */

header {
  /* box-shadow: 0px 0px 5px #0d1730; */
  background-color: var(--white);
  border-bottom: 1px solid #b6b6b6;
}

.navbar {
  background-color: var(--white);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block:15px;
}

.logo a {
  text-decoration: none;
  color: var(--black);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--black);
  margin: 5px 0;
  transition: all 0.2s ease-in-out;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: 600;
  padding-block: 5px;
  margin-inline: 10px;
  cursor: pointer;
}

.bottom_bdr {
  border-bottom: 2px solid var(--blue);
}

.active-scroll-spy {
  border-bottom: 2px solid var(--blue);
}

.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  animation: smoothScroll 1s forwards;
  box-shadow: 0px 0px 2px #0d1730;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Media query for responsive design */
@media (max-width: 991px) {
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    
    position: absolute;
    top: 70px;
    width: 40%;
    left: -100%;
    transform: translateX(-100%);
    transition: all .8s ease-in-out;
    /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
    z-index: 2;
    height: 100vh;
  }

  .menu.active {
    left: 0px;
    transform: translateX(0%);
  }

  .menu li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: block;
  }

  .rotate_bar1 {
    transform: rotate(48deg) translate(3px, 1px);
  }

  .rotate_bar2 {
    transform: rotate(315deg) translate(4px, -3px);
  }

  .rotate_bar3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .menu {
    top: 51px;
  }
  .navbar{
    padding-block: 10px;
  }
  .logo a {
    font-size: 18px;
  }
  .logo a img{
    width: 30px !important;
  }
  .footer_heading h2{
    font-size: 18px;
  }
  .footer_heading img{
    width: 30px;
  }
}

/* intro_section  */

.intro_section>.portfolio_container>.intro_wrapper>.intro_content>.intro_heading>h1 {
  font-size: clamp(28px, 5vw, 54px);
  line-height: 1.3;
}

.intro_section>.portfolio_container>.intro_wrapper {
  padding-block: min(80px, 12vw);
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #999999;
}

.intro_section>.portfolio_container>.intro_wrapper>.intro_content {
  width: 65%;
}

.intro_section>.portfolio_container>.intro_wrapper>.intro_image {
  width: 35%;
}
.intro_section>.portfolio_container>.intro_wrapper>.intro_content>.intro_btn{
  display: flex;
  justify-content:left;
  align-items: center;
  margin-top: min(40px, 8vw);
}
.intro_section>.portfolio_container>.intro_wrapper>.intro_content>.intro_btn>.connect_btn{
  background-color: var(--blue);
  color: #fff;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: clamp(14px, 2vw, 15px);
  transition: 800ms ease all;
  position: relative;
  border: 1px solid var(--blue);
  margin-left: min(28px, 8vw);
}
.intro_section>.portfolio_container>.intro_wrapper>.intro_content>.intro_btn>.download_cv {
  /* background-color: var(--blue); */
  color: var(--blue);
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: clamp(14px, 2vw, 15px);
  transition: 800ms ease all;
  position: relative;
  border: 1px solid var(--blue);
}

.intro_section>.portfolio_container>.intro_wrapper>.intro_content>.intro_btn>.download_cv:hover {
  background: var(--white);
  color: var(--blue);
}


.intro_section>.portfolio_container>.intro_wrapper>.intro_image>.intro_image_container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.intro_section>.portfolio_container>.intro_wrapper>.intro_image>.intro_image_container img {
  /* filter: saturate(.8); */
  /* transform: rotate(2deg); */
  width: 100%;
}

.intro_section>.portfolio_container>.intro_wrapper .intro_icon_wrapper {
  width: 100%;
  max-width: 132px;
  display: flex;
  justify-content: space-between;
  margin-top: min(40px, 8vw);
}

.intro_section>.portfolio_container>.intro_wrapper .intro_icon_wrapper a {
  text-decoration: none;
  color: var(--black);
}

.intro_section>.portfolio_container>.intro_wrapper .intro_icon_wrapper svg:hover {
  color: var(--blue);
}

.intro_section .intro_content .fade_text {
  position: absolute;
  top: 2px;
  width: 100%;
  left: 0px;
  background-color: #fff;
  opacity: 0;
}

.intro_section .intro_content .fade_text:nth-child(2) {
  animation: slide_text 6s infinite ease-in-out;
}

.intro_section .intro_content .fade_text:nth-child(3) {
  animation: slide_text 6s infinite 3s ease-in-out;
}
/* intro heading text animation  */
@keyframes slide_text {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 486px) {
  .intro_section>.portfolio_container>.intro_wrapper {
    flex-direction: column-reverse;
  }

  .intro_section>.portfolio_container>.intro_wrapper>.intro_content {
    width: 100%;
  }

  .intro_section>.portfolio_container>.intro_wrapper>.intro_image {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  .intro_section>.portfolio_container>.intro_wrapper>.intro_content>.intro_heading>h1 {
    font-size: clamp(24px, 8vw, 54px);
  }

  .intro_section>.portfolio_container>.intro_wrapper .intro_icon_wrapper {
    width: 100%;
    max-width: 125px;
  }
}

/* services_section  */
.services_section{
  width: 100%;
}
.services_section .services_wrapper{
  padding-block: min(80px, 12vw);
  border-bottom: 1px solid #999999;
}
.services_section .services_heading{
  padding-bottom: 40px;
}
.services_section .services_heading::before{
  content: "";
    width: 60px;
    height: 3px;
    background-color: var(--blue);
    display: block;
   margin-bottom: 10px;
}
.services_section .services_heading h2{
  color: var(--black);
  margin-bottom: 20px;
}

.services_section .services_card_wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
}

.services_section .services_card{
  flex: 1;
  padding: 25px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-color: #d3dbff; */
}

.services_section .services_card:hover{
  box-shadow: none;
  background-color: var(--blue) !important;
  color: #ffffff;
}
.services_section .services_card:hover.services_card svg{
  fill:var(--white);
}
.services_section .services_card svg{
  width: 100px;
  padding: 10px;
  fill:var(--blue);
}
.services_section .services_card .services_card_heading{
  margin-block: 15px;
}

@media screen and (max-width:1024px) {
  .services_section .services_card{
    flex:48%
  }
}
@media screen and (max-width:570px) {
  .services_section .services_card{
    flex: 100%;
  }
  .services_section .services_heading .mobile_hide{
    display: none;
  }
}
/* about_section */
.about_section .about_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: min(80px, 12vw);
  border-bottom: 1px solid #999999;
}

.about_section .about_image_wrapper,
.about_content_wrapper {
  flex: 1 1;
}

.about_section .about_image_wrapper {
  text-align: center;
  flex-basis: 35%;
  max-width: 300px;
}

.about_section .about_image_wrapper img {
  width: 280px;
  height: 370px;
  object-fit: cover;
  margin: auto;
  border-radius: 8px;
  background-color: var(--blue);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
   rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  filter: saturate(.8);
}

.about_section .about_content_wrapper {
  flex-basis: 65%;
  max-width: 640px;
}
.about_section .about_content_wrapper .name {
  margin-bottom:5px;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

.about_section .about_content_wrapper .highlight_skills {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-block: min(3vw, 24px);
  border-top: 1px solid #999999;
  padding-top: 10px;
}
.about_section .about_content_wrapper .highlight_skills svg{
  fill: var(--blue);
}
.about_section .about_content_wrapper .highlight_skills div {
  display: flex;
}

.about_section .about_content_wrapper .highlight_skills span {
  width: 50%;
  text-align: center;
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.about_section .about_content_wrapper .contact_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: 1px solid var(--black); */
  border-radius: 18px;
  padding-block: min(2vw, 18px);
  background-color:  #e5e5e5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



@media screen and (max-width:991px) {
  .about_section .about_wrapper {
    flex-direction: column;
  }

  .about_section .about_image_wrapper,
  .about_content_wrapper {
    flex: 1 1 100%;
    text-align: center;
    padding-inline: 5px;
  }

  .about_section .about_content_wrapper {
    width: 100%;
  }
  .about_section .about_image_wrapper img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    margin: auto;
    border-radius: 50%;
    border: 20px solid #ddeaff;
    margin-bottom: 30px;
  }
.about_section .about_content_wrapper {
  flex-basis: 65%;
  max-width: 100%;
}
}
@media screen and (max-width:768px) {

  .about_section .about_content_wrapper .highlight_skills span {
    font-size: min(5vw, 14px);
    width: 100%;
  }

  .about_section .about_content_wrapper .highlight_skills div {
    display: flex;
    flex-direction: column;
  }

  .about_section .about_content_wrapper .highlight_skills {
    width: 100%;
    max-width: 350px;
    padding-block: min(3vw, 20px);
  }
}
@media screen and (max-width: 576px) {
  .about_section .about_content_wrapper .contact_container {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .about_section .about_content_wrapper .contact_container {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 15px 15px;
  }

  .about_section .about_content_wrapper .contact_container div {
    margin-block: 8px;
  }



}

@media screen and (max-width: 382px) {
  .about_section .about_content_wrapper .contact_container div span span:last-child {
    font-size: min(4vw, 16px);
    letter-spacing: 1px;
  }

  .about_section .about_content_wrapper .contact_container div {
    width: 100%;
  }

  .about_section .about_content_wrapper .contact_container {
    padding: 4px 8px;
  }

}


/* work_section */
.work_section .work_wrapper {
  padding-block: min(80px, 12vw);
}
.work_section .work_heading::before{
  content: "";
    width: 60px;
    height: 3px;
    background-color: var(--blue);
    display: block;
    margin-bottom: 10px;
}
.work_section .work_wrapper>.work_heading>h2 {
  color: var(--black);
  font-size: min(30px, 7vw);
  margin-bottom: 20px;
}

.work_section .work_wrapper>.work_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: min(45px, 8vw);
  flex-wrap: wrap;
  gap: 10px;
}

.work_section .work_detail>.work_project {
  flex:1 1 370px;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: hidden;
}
.work_section .work_detail>.work_project .project_link{
  position: absolute;
  right: -1px;
  bottom: 0px;
  background-color: var(--black);
  width: 60px;
  height: 60px;
  border-radius: 60px 0px 0px 0px;
}
.work_section .work_detail>.work_project .project_link svg{
  position: absolute;
  right: 10px;
  bottom: 10px;
  fill: var(--blue);
}
.work_section .work_detail>.work_project img{
  width: 100%;
  display: block;
}
.work_section .work_detail .project_lable{
  position: absolute;
  right: 3%;
  top: 3%;
 
  font-size: 12px;
  display: flex;
}
.work_section .work_detail .project_lable p{
  border-radius: 2px;
}
.work_section .work_detail .figmaTag{
  background-color: #9dcb9b;
  padding: 0px 8px;
}
.work_section .work_detail .htmlTag{
  background-color: #cba59b;
  padding: 0px 8px;
  margin-right: 5px;
}
.work_section .work_detail .cssTag{
  background-color: #c1cb9b;
  padding: 0px 8px;
}
.work_section .work_detail .nextjsTag{
  background-color: #9bcbc5;
  padding: 0px 8px;
  margin-left: 5px;
}
.work_section .work_detail .jsTag{
  background-color: #b99bcb;
  padding: 0px 8px;
  margin-left: 5px;
}
@media screen and (max-width:768px) {
  .work_section .work_detail>.work_project .project_link{
    position: absolute;
    right: -1px;
    bottom: 0px;
    background-color: transparent;
  }
}

/* footer  */

.footer {
  background-color: #052861;
  color: var(--white);
  padding-block: min(20px, 4vw);
  margin-top: min(20px, 4vw);
}

.footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-block: 20px;
}
.footer .footer_wrapper .footer_heading{
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.footer .footer_wrapper .footer_heading p{
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.footer .footer_menu li{
  list-style: none;
  display: inline-block;
  margin-inline: 10px;
}
.footer .footer_menu a{
  color: var(--white);
  text-decoration: none;
  margin-block: 10px;
}
.footer_social_links a {
  margin-right: 5px;
  display: inline-block;
}
.footer_btn .connect_btn{
  padding: 8px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    color: var(--blue);
    text-decoration: none;
    font-weight: 600;
}


@media screen and (max-width:991px) {
  .footer .footer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer .footer_wrapper div{
    margin-bottom: 25px;
  }
  .footer .footer_wrapper div:last-child{
    margin-bottom: 0px;
  }
  .footer .footer_menu li{
    margin-inline: 6px;
  }
  
}